name: Gerar APK Profissional

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar Código
      uses: actions/checkout@v4

    - name: Configurar Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # Como não temos o wrapper (gradlew), usamos o Gradle instalado no servidor
    - name: Compilar APK (Modo Forçado)
      run: gradle assembleDebug --no-daemon

    - name: Upload do APK Pronto
      uses: actions/upload-artifact@v4
      with:
        name: App-PDF-Converter
        path: app/build/outputs/apk/debug/app-debug.apk


